:root {
  /*콘텐츠내용 width*/
  --content-width: 1200px;
  /*메인컬러*/
  --main-color: #21325e;
  /*보조컬러*/
  --sub-color: #f7be16;
  /*보조컬러-뒤에 깔아주는 연한 회색*/
  --back-color: #f5f5f5;
  /*뒤로가기컬러*/
  --cancel-color:#eb0000;
}

* {
  padding: 0;
  margin: 0;
}

.reservcontainer {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

/** 표 타이틀 부분 */

.titlecontainer {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  font-weight: bold;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 7px 0;
  background-color: var(--sub-color);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.tablenum {
  margin-left: 5%;
}

.thnum {
  margin-left: 15%;
}

.thid {
  margin-left: 23%;
}

.thdate {
  margin-left: 16%;
}

/** 아코디언 형식으로 F&Q 구현한 부분*/

.accordionContainer {
  border: 1px solid #dedfe0;
  width: 1200px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.accordionHeader {
  padding: 2%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordionHeader{
  border-bottom: 1px solid #dedfe0;
}

/* .accordionItem:nth-child(even) .accordionHeader,
.accordionItem:nth-child(even) .openontainer {
  background: #f5f5f5;
} */

/** 아코디언 내부 편집 */

.content {
  padding: 10px;
}

.num {
  padding-left: 3%;
  font-size: 15px;
  font-weight: 600;
}

.reservnum {
  font-size: 15px;
  font-weight: 600;
  /* margin-left: 1%; */
}

.person {
  font-size: 15px;
  font-weight: 600;
  margin-left: 7%;
}

.reservtime {
  font-size: 17px;
  font-weight: 600;
  margin-left: 2%;
}

.triangle {
  float: right;
  transition: 0.2s;
}

.rotate {
  rotate: -90deg;
  transition: 0.2s;
}

/** 아코디언 open 되면 보이는 부분*/

.conaiainercontent {
  /* border: 1px solid #000; */
  padding: 0px 25px;
  background-color: var(--back-color);
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.leftlist {
  width: 48%; /* 왼쪽 칸 너비 (전체의 48%) */
  float: left;
}

.rightlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
  font-weight: 400;
  padding: 5px;
}

.rightitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px; /* 아이템 간격을 위한 마진 설정 */
  white-space: nowrap;
}

.contname {
  margin-bottom: 5px; /* contname과 item 사이의 간격을 조절하기 위한 마진 설정 */
}

.reservlist {
  display: flex;
  width: 1200px;

  font-size: 17px;
  font-weight: 400;
  padding: 5px;
}

.contname {
  padding: 10px;
  margin-right: 5%;
  font-weight: 900;
  text-align: right;
}

.item {
  padding: 10px;
  margin-left: 3%;
  text-align: center;
}

/* Manager_reserv.module.css 파일에 추가 */
.categoryitem {
  margin-left: 3%;
  text-align: center;
}

/* 선택된 항목의 스타일 수정 */
.react-select__single-value {
  color: #333; /* 선택된 항목의 글자색 */
}

.react-select__indicator-separator {
  display: none; /* 드롭다운 컴포넌트 내의 분리선 제거 */
}
.btncomp {
  margin-top: 30%;
  display: inline-block;
  width: 140px;
  height: 42px;
  padding: 10px 20px;
  border-radius: 20px; /* 반원 형태를 만들기 위해 큰 값 사용 */
  background-color: #293462; /* 버튼 배경색 */
  color: #fff; /* 텍스트 색상 */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
  border: 0;
  font-weight: 900;
  margin-bottom: 2%;
  right: 0;
}

.btncomp:hover,
.btncomp:focus {
  background-color: #f7be16; /* 마우스 호버 시 배경색 변경 */
  color: #293462;
}
