* {
  padding: 0;
  margin: 0;
}

.mypageconfcontainer {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
}

.myconfcontain {
  width: 800px;
  margin: 0 auto;
}

.conftopic {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 3%;
}

/** 타이틀 아래 버튼 디자인 부분 */

/* .choosebtn {
  margin-top: 2%;
  margin-bottom: 3%;
}

.selectbtn {
  width: 400px;
  height: 50px;
  background: #f7be16;
  color: black;
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.leftbtn {
  width: 400px;
  height: 50px;
  background: #f5f5f5;
  color: black;
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.leftbtn:hover {
  background: #f7be16;
  color: black;
  font-size: 18px;
  border: none;
  font-weight: 600;
} */

.pagetopic {
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.hline {
  width: 800px;
  border: 2px solid #293462; /* 수평선의 두께와 색상을 설정합니다. */
  margin: 20px 0; /* 수평선 위아래 여백을 조절합니다. */
}

.listbtn {
  margin-top: 1%;
  margin-bottom: 3%;
}

.checkbtn {
  width: 400px;
  height: 50px;
  background: #f7be16;
  color: black;
  font-size: 15px;
  border: none;
  font-weight: 500;
}

.lockbtn {
  width: 400px;
  height: 50px;
  background: #f5f5f5;
  color: black;
  font-size: 15px;
  border: none;
  font-weight: 500;
}

.lockbtn:hover,
.lockbtn:focus {
  background: #f7be16;
  color: black;
  font-size: 15px;
  border: none;
  font-weight: 500;
}

/** 본문 내용 */

.customratingcontainer {
  max-width: 800px;
  margin: 0 auto;
}

.accordionContainer {
  width: 100%;
}

.accordionHeader {
  padding: 15px;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.open .accordionHeader {
  background-color: none;
  text-align: center;
}

.accordionItem {
  border-radius: 5px;
}

.accordionItem:nth-child(odd),
.accordionItem:nth-child(odd) .content {
  background: #f5f5f5;
}

/* 아코디언 헤더 내용*/

.opennum {
  font-size: 15px;
  font-size: 800;
}

.vline {
  border-left: 2px solid #cdcdcd;
  height: 50px;
}

.opendate {
  font-size: 15px;
  font-size: 800;
}

.btnstate {
  display: inline-block;
  width: 110px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px; /* 반원 형태를 만들기 위해 큰 값 사용 */
  background-color: #293462; /* 버튼 배경색 */
  color: #fff; /* 텍스트 색상 */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
  font-size: 600;
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
  border: 0;
  margin-bottom: 1%;
  right: 0;
}

.triangle {
  transition: 0.2s;
}

.rotate {
  rotate: -90deg;
  transition: 0.2s;
}

/** 아코디언 open 되면 보이는 부분*/

.opencontainer {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.opencontent {
  display: flex;
  margin-top: 2%;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}

.openleft {
  width: 48%;
  float: left;
  margin-left: 3rem;
}

.openright {
  width: 48%;
  margin-left: 29rem;
  font-size: 13px;
  font-weight: 500;
}

.rescontent {
  margin-left: 4rem;
}

.costshow {
  margin-top: 12rem;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}
